[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/nativefiledialog"]
	path = deps/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
[submodule "deps/libminecraft-file"]
	path = deps/libminecraft-file
	url = https://github.com/kbinani/libminecraft-file.git
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb.git
[submodule "deps/hwm.task"]
	path = deps/hwm.task
	url = https://github.com/hotwatermorning/hwm.task.git
