/build
/src/version.hpp
/src/render/legal.hpp
/resource/resource.rc
/resource/resource.aps
/resource/Info.plist
/package/obj
/package/Package.appxmanifest
/package/AppPackages
/package/bin
/package/BundleArtifacts
*.user
